body {
    font: 44px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: fuchsia;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 34px;
    font-weight: bold;
    line-height: 120px;
    height: 120px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 120px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  @media (max-width: 600px) {
      body {
          font-size: 20px;
      }
      .square {
        line-height: 64px;
        height: 64px;
        width: 64px;
        font-size: 24px;
      }
  }
  